%h1 The Problem
%h2
  %s Tests Are Hard to Maintain
  Tests Are Poorly Integrated in Most Workflows
%h3 NIRD workflow
%ul
  %li Pull code with tests/test suite
  %li Write some sweet code
  %li 
    (Hopefully) run some sweet tests with
    %pre rspec
  %li
    %pre git add -p
  %li
    %pre git commit -m "foo bar NIRDs are the coolest"
  %li
    %pre git push origin branch

%a{href: '/6'} =>