%h1 To do for ng-vegas

%h2 Completed items
%ul
  %li{"ng-repeat" => "todo in todos | filter:{done:true}"} {{todo.name}}

%h2 Incomplete items
%ul
  %li{"ng-repeat" => "todo in todos", "ng-if" => "!todo.done"} {{todo.name}}

%h2 All items
%ul
  %li{"ng-repeat" => "todo in todos"}
    {{todo.name}}
    %span{"ng-click" => "completeItem(todo)", "ng-show" => "!todo.done"}{complete task}
    %span{"ng-click" => "reopenItem(todo)", "ng-show" => "todo.done"}{reopen task}